@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Pacifico&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  width: 20vw;
  height: 10vh;
  margin: 0.5rem;
}

h1 {
  color: rgb(107, 107, 107);
  font-family: "Dancing Script", cursive;
  margin-bottom: 1rem;
}

h2 {
  color: rgb(107, 107, 107);
  text-align: center;
  font-family: "Dancing Script", cursive;
}

h3 {
  color: rgb(107, 107, 107);
  margin-top: 2.5rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

p {
  font-family: "Dancing Script", cursive;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("img/bg-top.jpg"), url("img/bg-bottom.jpg");
  background-position: top, center bottom;
  background-repeat: no-repeat, repeat;
  background-size: contain, contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4rem;
}

.header {
  width: 100%;
  height: 30%;
  background: rgba(27, 27, 27, 0.5);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dates {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.dates p {
  margin: 0.5rem;
}

#countdown {
  margin-top: 3rem;
}

.container-counter {
  color: black;
  display: flex;
  font-weight: lighter;
  text-align: center;
}

.container-counter ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.container-counter ul li {
  display: inline-block;
  list-style-type: none;
  padding: 1rem;
  font-size: 1.3rem;
  font-family: "Dancing Script", cursive;
  color: rgb(107, 107, 107);
}
.container-counter ul li span {
  display: block;
  font-size: 1.3rem;
}

/* envelop */

#wrapper {
  max-width: 80vw;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.envelope-container {
  margin-top: 1rem;
  width: 200px;
  height: 200px;
  background-color: #333;
  background-image: url("img/poza-bg-top.jpg");
  background-position: center;
  background-size: contain;
}

.envelope-container::before {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  border: 2px solid #333;
  transform: rotateZ(-25deg);
}

.envelope {
  width: 200px;
  height: 100px;
  margin: 130px auto 0;
  background: rgb(118, 2, 2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.25);
  position: relative;
  perspective: 800px;
}
.envelope:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid rgba(0, 0, 0, 0.25);
  border-width: 45px 100px;
  border-top-color: transparent;
  z-index: 2;
}

.envelope .flap {
  position: absolute;
  width: 100%;
  height: 0;
  border: 0 solid transparent;
  border-width: 50px 100px;
  z-index: 2;
}
.envelope .flap.front {
  border-left-color: rgb(118, 2, 2);
  border-right-color: rgb(118, 2, 2);
  border-bottom-color: rgb(118, 2, 2);
  z-index: 3;
}
.envelope .flap.front:after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  left: -100px;
  bottom: -50px;
  border: 0 solid transparent;
  border-width: 49px 100px;
  border-bottom-color: rgb(91, 0, 0);
}

.envelope .flap.top {
  border-top-width: 55px;
  border-top-color: rgb(0, 0, 0);
  z-index: 3;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-transform-origin-y: top;
  transform-origin-y: top;
  perspective: 800;
  transform-style: preserve-3d;
}
.envelope.open .flap.top {
  animation-name: flip;
}
.envelope.close .flap.top {
  animation-delay: 4s;
  animation-name: flip-back;
}
.envelope .flap.top:after {
  content: "";
  position: absolute;
  left: -100px; /* border-left-width */
  top: -55px; /* border-top-width */
  width: 100%;
  height: 0;
  border: 0 solid transparent;
  border-width: 54px 100px;
  border-top-color: rgb(99, 0, 0);
}

.letter {
  position: absolute;
  width: 194px;
  height: 84px;
  padding: 0.5rem;
  background-color: rgb(73, 0, 0);
  top: 8px;
  left: 3px;
  z-index: 1;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  transform-style: preserve-3d;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: small;
}
.envelope.open .letter {
  animation-name: remove;
}

.envelope.close .letter {
  animation-name: exit;
}

.letter-down {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  padding: 1rem;
  background: rgb(73, 0, 0);
  color: white;
  border-bottom: 1px solid #ccc;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: both;
  transform-origin: top;
  transform-style: preserve-3d;
  transform: rotateX(10deg);
}
.letter-up {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  padding: 0;
  background: rgb(73, 0, 0);
  color: white;
  border-top: 1px solid #ccc;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: both;
  transform-origin: top;
  transform-style: preserve-3d;
  transform: rotateX(10deg);
  background-image: url("img/pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.parintii {
  visibility: hidden;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: white;
  transform: scale(-1) rotateY(180deg) translateY(-10px);
}
.nasii {
  visibility: hidden;
  color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  transition-delay: 0.4s;
  transform: scale(-1) rotateY(180deg) translateY(0px);
}

.envelope.open .letter-up {
  animation-name: fold-up;
}
.envelope.close .letter-up {
  animation-delay: 0.8s;
  animation-name: fold-back;
}
.envelope .letter-down {
  animation-delay: 5s;
  animation-fill-mode: both;
  -webkit-transform-origin-y: bottom;
  transform-origin-y: bottom;
  transform: rotateX(-5deg);
  bottom: 0;
}
.envelope.open .letter-down {
  animation-name: fold-down;
}

.envelope.close .letter-down {
  animation-delay: 0.1s;
  animation-name: fold-down-back;
}

@keyframes flip {
  100% {
    transform: rotateX(180deg);
    z-index: 1;
  }
}

@keyframes flip-back {
  0% {
    transform: rotateX(180deg);
    z-index: 1;
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes remove {
  50% {
    top: -120px;
  }
  100% {
    top: 8px;
    transform: scale(1.5);
    z-index: 3;
  }
}
@keyframes exit {
  0% {
    top: 8px;
    transform: scale(1.5);
    z-index: 3;
  }
  50% {
    z-index: 3;
    top: -120px;
  }
  90% {
    z-index: 2;
    transform: scale(1);
  }
  100% {
    top: 0px;
    z-index: 0;
    transform: scale(1);
  }
}

@keyframes fold-up {
  from {
  }
  to {
    transform: rotateX(150deg);
    background-image: none;
  }
}

@keyframes fold-down {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(-150deg);
  }
}

@keyframes fold-back {
  from {
    background-image: none;
    transform: rotateX(150deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes fold-down-back {
  from {
    transform: rotateX(-150deg);
  }
  to {
    transform: rotateX(0);
  }
}

#open {
  position: absolute;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: linear-gradient(#eee, #ccc);
  color: #333;
  text-shadow: 0 1px 0 #fff;
  z-index: 1;
  cursor: pointer;
}

#open:hover {
  opacity: 0.8;
}
#open:active {
  background: linear-gradient(#ccc, #eee);
}

#close {
  display: none;
  background: #eee;
  position: absolute;
  top: 0;
  right: -3rem;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 25px;
  background: linear-gradient(#eee, #ccc);
  color: #333;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  z-index: 2;
}

.locations {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.location-left {
  left: 0;
}

.confirm-section form {
  width: 90vw;
  height: 80vh;
  border-radius: 7px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  background: rgba(27, 27, 27, 0.705);
  padding: 2rem;
}

.confirm-section form input,
.confirm-section form select,
.confirm-section form textarea,
.confirm-section form label {
  width: 100%;
  padding: 0.2rem;
  border-radius: 5px;
  border: none;
  font-family: "Dancing Script", cursive;
}

.confirm-section form textarea {
  resize: none;
  min-height: 4rem;
  overflow: scroll;
}

.da,
.nu {
  width: 100%;
  display: grid;
  grid-template-columns: 9% 85%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#da,
#nu {
  width: 100%;
  height: 100%;
}

#submit-btn {
  padding: 0.5rem 4rem;
  border: none;
  background-color: rgb(49, 0, 0);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}
